


#lg1{
    background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: xx-large;
    border-radius: 20px;

    margin-bottom: 50px;
background-image: linear-gradient(white, rgb(113, 173, 113) ,rgb(29, 29, 215),white);
/* box-shadow:7px 7px  rgb(21, 233, 233); */
}
#lg2{
    background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
        font-size: xx-large;
border-radius: 20px;

    padding-top: 100px;
    margin-left: 350px;
    margin-top: -348px;
    background-image: linear-gradient(to left, red , orange,yellow,green,blue,violet);
/* box-shadow: 0px 0px 20px 10px rgb(19, 242, 242); */
}
#lg3{
   background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
        font-size: xx-large;
color: white;
    padding-top: 100px;
    margin-left: 700px;
    margin-top: -300px;
    background-image: linear-gradient(to left top,blue ,aqua, yellow);
/* box-shadow: 1px 5px 20px  5px rgb(221, 41, 161); */
border-radius: 20px;
}
#lg4{
   
 background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
        font-size: xx-large;
        color: black;
        border-radius: 20px;



    padding-top: 100px;
    margin-left: 1050px;
    margin-top: -300px;
    background-image: linear-gradient(120deg, blue,lightblue,orange,pink,yellow,aqua,lightblue,blue);
/* box-shadow: 1px 8px 20px  20px rgb(41, 191, 221); */

}

.section-2{
    margin-top: 300px;
}
#Rl1{
background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color: black;
    border-radius: 20px;

font-family: arial;
background-image: radial-gradient(white  ,rgb(52, 226, 52),rgb(25, 25, 241),white);
}
#Rl2{
background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
    border-radius: 20px;

    padding-top: 100px;
    margin-left: 350px;
    margin-top: -348px;
    font-family: arial;
    background-image:radial-gradient(circle 70px,rgb(228, 244, 16),rgb(7, 176, 243))


}
#Rl3{
background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
    border-radius: 20px;

    padding-top: 100px;
    margin-left: 700px;
    margin-top: -302px;
    font-family: arial;
        background-image:radial-gradient(ellipse 120px 80px ,red,rgb(175, 175, 211))



}
#Rl4{
background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 20px;

    color: white;
    padding-top: 100px;
    margin-left: 1100px;
    margin-top: -300px;
    font-family: arial;
    background-image:radial-gradient(yellow,orange ,red , maroon)


}
.box-shadow{
    margin-bottom: 100px;
    background-image: url(./asset/images/img-2/about.png);
    height: 400px;
    margin-top: 100px;
}
#shadow-1{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(186, 186, 220),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 0px;
   border-radius: 20px;
   box-shadow: 3px 3px rgb(17, 227, 227);
padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
}
#shadow-2{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(229, 212, 180),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 250px;
   border-radius: 20px;
   margin-top: -180px;
   box-shadow: 4px 4px 10px rgb(24, 246, 246);
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);


}
#shadow-3{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(156, 232, 232),white);
box-shadow: 0px 0px 20px rgb(227, 246, 60);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 500px;
   border-radius: 20px;
   margin-top: -180px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);


}
#shadow-4{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(182, 248, 182),white);
    border: 1px solid burlywood;
    margin-top: 100px;
    box-shadow: 0px 0px 20px 5px rgb(76, 245, 76);
   margin-left: 760px;
   border-radius: 20px;
   margin-top: -180px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);


}
#shadow-5{
    width: 200px;
    height: 150px;
/* background-image: linear-gradient(white,rgb(248, 182, 237),white); */
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 1010px;
   border-radius: 20px;
   margin-top: -180px;
   background-color: white;
   box-shadow: inset 10px 0px 50px rgb(255, 255, 0), inset 0px 15px 50px rgb(0, 255, 255);
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);


}
#shadow-6{
    width: 200px;
    height: 150px;
/* background-image: linear-gradient(white,rgb(248, 198, 182),white); */
   background-color: white;    
   border: 1px solid burlywood;
   margin-top: 100px;
   margin-left: 1260px;
   border-radius: 20px;
   margin-top: -182px;
   box-shadow: inset 0px 0px 30px black;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);


}
.drop-shadow{
    margin-bottom: 100px;
    background-image: url(./asset/images/img-2/about.png);
    height: 400px;
}
#D-shadow-1{
     width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(186, 186, 220),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 0px;
   border-radius: 20px;
padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
   filter:drop-shadow(3px 3px  rgb(24, 246, 246)) ;

}
#D-shadow-2{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(229, 212, 180),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 250px;
   border-radius: 20px;
   margin-top: -180px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
filter: drop-shadow(3px 3px 10px rgb(24,246,246));


}
#D-shadow-3{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(156, 232, 232),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 500px;
   border-radius: 20px;
   margin-top: -180px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
filter: drop-shadow( 0px 0px 20px rgb(227, 246, 60));



}
#D-shadow-4{
    width: 200px;
    height: 150px;
background-image: linear-gradient(white,rgb(182, 248, 182),white);
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 760px;
   border-radius: 20px;
   margin-top: -180px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
filter: drop-shadow(5px 5px 10px rgb(0, 217, 255) )


}
#D-shadow-5{
    width: 200px;
    height: 150px;
/* background-image: linear-gradient(white,rgb(248, 182, 237),white); */
    border: 1px solid burlywood;
    margin-top: 100px;
   margin-left: 1010px;
   border-radius: 20px;
   margin-top: -180px;
   background-color: white;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
filter: drop-shadow(0px 0px 15px yellow);


}
#D-shadow-6{
    width: 200px;
    height: 150px;
/* background-image: linear-gradient(white,rgb(248, 198, 182),white); */
   background-color: white;    
   border: 1px solid burlywood;
   margin-top: 100px;
   margin-left: 1260px;
   border-radius: 20px;
   margin-top: -182px;
   padding-top: 30px;
padding-left: 30px;
font-size: xx-large;
font-family: arial;
font-weight: 900;
color: rgb(94, 93, 93);
filter: drop-shadow(1px 1px 20px indigo);


}
#lbl-1{
    font-family: arial;
    font-size: xx-large;
    font-weight: 800;
}
#lbl-2{
    font-family: arial;
    font-size: xx-large;
    font-weight: 800;
}#lbl-3{
    font-family: arial;
    font-size: xx-large;
    font-weight: 800;
}#lbl-4{
    font-family: arial;
    font-size: xx-large;
    font-weight: 800;
}
/* start Filters Section */
.grayscale{
padding-left: 100px;
}
#label-1{
  font-family: arial;
  font-size: xxx-large;
  font-weight:900 ;
  text-align: center;
  margin-bottom: 50px;
}
#G-1{

  width: 250px;
  height: 200px;
  filter: grayscale(0.9);

}
#G-1:hover{

  width: 250px;
  height: 200px;
  filter: grayscale(0);
  border: 2px solid rgb(37, 253, 253);
}

#G-2{

  width: 250px;
  height: 200px;
  filter: grayscale(0.7);
}
#G-2:hover{

  width: 250px;
  height: 200px;
  filter: grayscale(0);
  border: 2px solid rgb(37, 253, 253);
}
#G-3{

  width: 250px;
  height: 200px;
  filter: grayscale(60%);
}
#G-3:hover{

  width: 250px;
  height: 200px;
  filter: grayscale(0);
  border: 2px solid rgb(37, 253, 253);
}
#G-4{

  width: 250px;
  height: 200px;
  filter: grayscale(40%);
}
#G-4:hover{

  width: 250px;
  height: 200px;
  filter: grayscale(0);
  border: 2px solid rgb(37, 253, 253);
}
#G-5{

  width: 250px;
  height: 200px;
  filter: grayscale(25%);
}
#G-5:hover{

  width: 250px;
  height: 200px;
  filter: grayscale(0);
  border: 2px solid rgb(37, 253, 253);
}
/* opacity section */
#O-1{

  width: 250px;
  height: 200px;
  filter: opacity(0.9);

}
#O-1:hover{

  width: 250px;
  height: 200px;
    filter: opacity(0.2);
  border: 2px solid rgb(37, 253, 253);

}

#O-2{

  width: 250px;
  height: 200px;
  filter: opacity(0.7);
}
#O-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: opacity(0.2);
}
#O-3{

  width: 250px;
  height: 200px;
  filter: opacity(50%);
}
#O-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: opacity(0.8);
  
}
#O-4{

  width: 250px;
  height: 200px;
  filter: opacity(30%);
}
#O-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: opacity(0.7);
 
}
#O-5{

  width: 250px;
  height: 200px;
  filter: opacity(20%);
}
#O-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
  filter: opacity(100%);
}
/* Blur */
#b-1{

  width: 250px;
  height: 200px;
filter: blur(1px);
}
#b-1:hover{

  width: 250px;
  height: 200px;
filter: blur(0px);
   border: 2px solid rgb(37, 253, 253);


}

#b-2{

  width: 250px;
  height: 200px;
  filter: blur(1.5px);
}
#b-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
   filter: blur(0px);
}
#b-3{

  width: 250px;
  height: 200px;
  filter: blur(2px);

}
#b-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
       filter: blur(0px);

}
#b-4{

  width: 250px;
  height: 200px;
  filter: blur(2.5px);
}
#b-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
      filter: blur(0px);

}
#b-5{

  width: 250px;
  height: 200px;
  filter: blur(3px);
}
#b-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
       filter: blur(0px);

}
/* contrast */
#c-1{

  width: 250px;
  height: 200px;
  filter: contrast(0.3);
}
#c-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
  filter: contrast(100%);


}

#c-2{

  width: 250px;
  height: 200px;
  filter: contrast(0.5);
}
#c-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
     filter: contrast(100%);

}
#c-3{

  width: 250px;
  height: 200px;
  filter: contrast(0.8);

}
#c-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
  filter: contrast(100%);

}
#c-4{

  width: 250px;
  height: 200px;
  filter: contrast(1.5);
}
#c-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
  filter: contrast(100%);

}
#c-5{

  width: 250px;
  height: 200px;
  filter: contrast(4);
}
#c-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
  filter: contrast(100%);

}


/* Brightness */
#B-1{

  width: 250px;
  height: 200px;
  filter: brightness(0);
}
#B-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
  filter: brightness(1);


}

#B-2{

  width: 250px;
  height: 200px;
    filter: brightness(50%);

}
#B-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
  filter: brightness(1);

}
#B-3{

  width: 250px;
  height: 200px;
  filter: brightness(1.5);

}
#B-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
  filter: brightness(1);

}
#B-4{

  width: 250px;
  height: 200px;
    filter: brightness(2);

}
#B-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
  filter: brightness(1);

}
#B-5{

  width: 250px;
  height: 200px;
    filter: brightness(0.3);

}
#B-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
  filter: brightness(1);

}

/* Invert */

#i-1{

  width: 250px;
  height: 200px;
  filter: invert(1);
}
#i-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: invert(0);

}

#i-2{

  width: 250px;
  height: 200px;
  filter: invert(0.8);

}
#i-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: invert(0);


}
#i-3{

  width: 250px;
  height: 200px;
  filter: invert(70%);

}
#i-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: invert(0);

}
#i-4{

  width: 250px;
  height: 200px;
  filter: invert(30%);

}
#i-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: invert(0);

}
#i-5{

  width: 250px;
  height: 200px;
  filter: invert(50%);

}
#i-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
filter: invert(0);

}

/* sepia */
#s-1{

  width: 250px;
  height: 200px;
  filter: sepia(1);
}
#s-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: sepia(0);

}

#s-2{

  width: 250px;
  height: 200px;
  filter: sepia(0.8);

}
#s-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: sepia(0);


}
#s-3{

  width: 250px;
  height: 200px;
  filter: sepia(70%);

}
#s-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: sepia(0);

}
#s-4{

  width: 250px;
  height: 200px;
  filter: sepia(50%);

}
#s-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: sepia(0);

}
#s-5{

  width: 250px;
  height: 200px;
  filter: sepia(0%);

}
#s-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
filter: sepia(1);

}


/* Saturate */
#S-1{

  width: 250px;
  height: 200px;
  filter: saturate(0);
}
#S-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: saturate(3);

}

#S-2{

  width: 250px;
  height: 200px;
  filter: saturate(0.5);

}
#S-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: saturate(200%);


}
#S-3{

  width: 250px;
  height: 200px;
  filter: saturate(1);

}
#S-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: saturate(400%);

}
#S-4{

  width: 250px;
  height: 200px;
  filter: saturate(2);

}
#S-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: saturate(7);

}
#S-5{

  width: 250px;
  height: 200px;
  filter: saturate(5);

}
#S-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
filter: saturate(10);

}
/* Hue -rotate */
#h-1{

  width: 250px;
  height: 200px;
  filter: hue-rotate(60deg)
}
#h-1:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: hue-rotate(150deg);

}

#h-2{

  width: 250px;
  height: 200px;
  filter: hue-rotate(90deg);

}
#h-2:hover{

  width: 250px;
  height: 200px;
   border: 2px solid rgb(37, 253, 253);
filter: hue-rotate(150deg);


}
#h-3{

  width: 250px;
  height: 200px;
filter: hue-rotate(120deg);

}
#h-3:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: hue-rotate(150deg);

}
#h-4{

  width: 250px;
  height: 200px;
filter: hue-rotate(150deg);

}
#h-4:hover{

  width: 250px;
  height: 200px;
    border: 2px solid rgb(37, 253, 253);
filter: hue-rotate(30deg);

  }
#h-5{

  width: 250px;
  height: 200px;
filter: hue-rotate(230deg);


}
#h-5:hover{

  width: 250px;
  height: 200px;
  border: 2px solid rgb(37, 253, 253);
filter: hue-rotate(150deg);

}



